* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bgmobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* hr {
    flex: 0 0 100%;
    width: 10px;
} */

.logo > img {
    width: 50%;
    margin: 10px;
}

button {
    background: transparent;
}

#myDropdown > a {
    text-decoration: none;
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: x-small;
    margin: 1px;
}

#myDropdown > a:hover {
    border-bottom: 3px solid white;
    padding-bottom: 13px;
}

#myDropdown > a:active {
    color: white;
    border-bottom: 3px solid white;
}

span {
    color: #FFFF;
    margin-right: 2px;
}

#myDropdown {
    background-color: #161927;
    padding: 13px;
}
/*
.dd {
    position: relative;
    overflow: hidden;
}


.dd-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
}

.dd {
    position: relative;
    display: inline-block;
}

.dd:hover > .dd-content {
    display: block;
}

.dd-content {
    display: none;
    position: absolute;
    background: blue;
    filter: blur(4px);
    min-width: 160px;
}

.dd-content a:hover {
    display: block;
}
*/

#homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.texts {
    text-align: center;
}

.texts > h5 {
    text-transform: uppercase;
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 13px;
    letter-spacing: 4.7px;
    margin-bottom: 25px;
}

h5:nth-last-child(2) {
    color: #FFFF;
    font-family: 'Bellefair', serif;
    font-size: 70px;
}

p {
    color: #D0D6F9;
    width: 80%;
    margin: 0 auto;
}

#explore {
    margin-top: 120px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #FFFF;
}

#explore:hover {
    box-shadow: 0px 0px 0px 38px  #161927;
}

#explore a {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #0B0D17;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px; 
    font-family: 'Barlow Condensed', sans-serif;
}
/* MEDIA QUERY FOR TABLET */
@media only screen and (min-width:768px) and (max-width: 1024px) {
    body {
        background-image: url("tab.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo > img {
        width: 50%;
        margin: 20px;
    }

    #myDropdown {
        background-color: #161927;
        padding: 30px;
    }

    #myDropdown > a {
        font-size: larger;
    }

    #homepage {
        margin-top: 200px;
    }

    .texts > h5 {
        font-size: 15px;
    }

    h5:nth-last-child(2) {
        font-size: 150px;
    }

    p {
        width: 62%;
        font-size: 20px;
    }

    #explore {
        width: 200px;
        height: 200px;
        margin-top: 140px;
    }

    #explore a {
        margin-top: 90px;
        font-size: larger;
    }
}

/* MEDIA QUERY FOR DESKTOP */
@media only screen and (min-width:1200px) and (max-width: 1600px) {
    body {
        background-image: url("desktop.jpg");
        min-height: 80vh;
    }

    header {
        margin-top: 30px;
    }

    .logo > img {
        width: 50%;
        margin: -5px 25px;
    }

    .dd-content {
        background-color: #161927;
        background-image: url("desktp.jpg");
        padding: 30px;
        width: 50rem;
    }

    #myDropdown > a {
        font-size: 10px;
        margin: 0 10px 0 60px;
        opacity: 1;
        filter: brightness(20px);
    }

    #homepage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 100px;
    }

    .texts {
        text-align: left;
        margin-top: 100px;
        margin-left: 90px;
    }

    p {
        margin: 0;
        width: 300px;
    }

    #explore {
        margin-right: 260px;
    }

}